<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8'/>
    <script src="https://sapui5.netweaver.ondemand.com/sdk/resources/sap-ui-core.js"
        id="sap-ui-bootstrap"
        data-sap-ui-libs="sap.ui.layout,sap.m"
        data-sap-ui-theme="sap_bluecrystal">
    </script>
    <title>SAP Product</title>
<!--var url = "s.js";
$.getScript(url); -->
    <script type="text/javascript" src="/js/products.js">
     </script>
</head>
<body id="content" class="sapUiBody" role="application">
    </body>
</html>